/* Start Variables */
/* :root {
  --main-color:#bcaaa4;;
  --three-color:rgb(27, 23, 23) ;
  --transparent-color:#795548;
  --section-padding: 100px;
} */
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */

/* End Components */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  height: 120px;
}
header .bracon {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 8px;

}

header .container .bracon p {
  position: relative;
  top: -7px;
 }
header .container .bracon .house {
  font-size: 40px;
  font-weight: 800;
  position: relative;
  left: -7px;
 }
header .container span  {
 font-size: 22px;
}
header .menu {
  display: flex;
  justify-content: flex-end;
}

 header .menu i {
  color: #3e3d3d;
}
header .menu  .card-wrap {
  display: flex;
  align-items: center;
  padding-left: 45px;

}
header .menu  .card-wrap .icon-box {
  display: flex;
  padding: 8px;
  margin-right: 5px;
  transition: 0.3s all;
}
header .menu  .card-wrap .icon-box i {
font-size: 17px;
border: 1px solid #797676;
padding: 15px;
border-radius: 50%;
}

header .menu  .card-wrap .card-box p {
  font-size: 14px;
  line-height: 1.5;
  color: #74757fa9;
  white-space: nowrap;
  font-weight: 100;
   
}
header .menu  .card-wrap .card-box p:hover {
  color: #007bff;
}
header .menu  .card-wrap .card-box .o {
  position: relative;
  top: 4px;
}header .menu  .card-wrap .card-box .t {
 
  position: relative;
  top: -1px;

}



/* nav */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	box-sizing: border-box;
}
nav {
	background: rgb(62, 61, 61);
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 25px;
  position: relative;
  top: -1px;
}



.burger {
    border: 0;
    cursor: pointer;
    display: none;
    font-size: 22px;
    position: relative;
    padding: 0;
    outline: none;
    height: 40px;
    width: 46px;
    top: -122px;
    background-color: #ebecefd7;
    left: -15px;
	

}

.burger:active {
	color: #0594EC;
	outline: none;
}

.burger .bar,
.burger .war {
	background-color: #000000c1;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	height: 2px;
	width: 40px;
	transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
	top: 30%;
}

.burger .war {
  top: 72%;
}
.burger.show-x .bar:last-of-type {
  transform: translate(-51%, -313%) rotate(-231deg);
}
ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
  justify-content: flex-start;
}

ul li {
	margin: 0 30px;
}

ul li a {
	color: #acadaf;
	position: relative;
	text-decoration: none;
}
ul li a:hover {
	color: #707173a1;

}


@media  (max-width: 990px) {
	nav {
		background: none;
	}
	
	.burger {
		display: block;
	}
	
	
.burger.show-x .bar:first-of-type {
    transform: translate(-49%, 318%) rotate(228deg);
}
	
.burger.show-x .bar:last-of-type {
  transform: translate(-47%, -88%) rotate(-229deg);
}
  .burger.show-x .war  {
		display: none;
	}
	
	nav ul {
		background-color: #fff;
		box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
		flex-direction: column;
		text-align: center;
		position: fixed;
		top: 80px;
		left: 1%;
		transform: translateX(-149%);
		width: 35%;
		transition: transform 0.5s ease-in;
		z-index: 100;
		height: 520px;
	}
	
	nav ul.show {
		transform: translateX(0);
	}

	nav ul li {
		margin: 5px;
    padding: 20px;
	}
	nav ul li:hover {
		background-color: #788deebf;
	}
}

/* end nav */

* + .button,
* + .button-outer {
	margin-top: 5px;
}
button {
	padding: 0;
}

.button {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 13px 35px;
	font-size: 14px;
	line-height: 1.25;
	border: 2px solid;
	border-radius: 6px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 0.25s cubic-bezier(0.2, 1, 0.3, 1);
}



.form-btn {
	display: block;
	width: 100%;
	height: 100%;
}

.button-block {
	display: block;
	width: 100%;
}

.button-default, .button-default:focus {
	color: #aeb1be;
	background-color: #495057;
	border-color: #495057;
}

.button-default:hover, .button-default:active {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.button.button-primary, .button.button-primary:focus {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.button.button-primary:hover, .button.button-primary:active {
	color: #fff;
	background-color: #232426;
	border-color: #232426;
}

html .button.button-primary-lighten, html .button.button-primary-lighten:focus {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

html .button.button-primary-lighten:hover, html .button.button-primary-lighten:active {
	color: #fff;
	background-color: #232426;
	border-color: #232426;
}

.button-accent-outline, .button-accent-outline:focus {
	color: #151515;
	background-color: transparent;
	border-color: #007bff;
}

.button-accent-outline:hover, .button-accent-outline:active {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.button-primary-outline, .button-primary-outline:focus {
	color: #151515;
	background-color: transparent;
	border-color: #151515;
}

.button-primary-outline:hover, .button-primary-outline:active {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.button-gray-bordered {
	border-width: 1px;
}

.button-gray-bordered, .button-gray-bordered:focus {
	color: #151515;
	background-color: transparent;
	border-color: #aeb1be;
}

.button-gray-bordered:hover, .button-gray-bordered:active {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.button-winona {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.button-winona .content-original,
.button-winona .content-dubbed {
	vertical-align: middle;
	transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1),
	 opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1);}

.button-winona .content-original {
	display: block;
}

.button-winona .content-dubbed {position: absolute;width: 100%;top: 50%;left: 0;opacity: 0;transform: translate3d(0, 0, 0);}

.button-winona:hover .content-original {
	opacity: 0;
	transform: translate3d(0, -30%, 0);
}

.button-winona:hover .content-dubbed {
	opacity: 1;
	transform: translate3d(0, 0, 0) translateY(-50%);
}

.button-sm {
	padding: 9px 32px;
	font-size: 12px;
	line-height: 1.5;
}

.button-lg {
	padding: 14px 35px;
	font-size: 15px;
	line-height: 1.5;
}



.button-lg--smaller {
	padding-left: 35px;
	padding-right: 35px;
}

html .button.button-icon {
	display: inline-flex;
}

.button-icon {
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.button-icon .icon {
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	color: inherit;
	font-size: 1.55em;
	line-height: 1em;
	transition: none;
}

.button-icon:active .icon, .button-icon:hover .icon {
	color: inherit;
}

.button-icon-left .icon {
	padding-right: 5px;
}

.button-icon-right {
	flex-direction: row-reverse;
}

.button-icon-right .icon {
	padding-left: 8px;
}

.button-icon.button-icon-only {
	padding-left: 20px;
	padding-right: 20px;
}

.button-icon.button-lg .icon {
	padding-right: 8px;
}

.button-icon.button-lg.button-icon-right .icon {
	padding: 0 0 0 8px;
}

.button-icon.button-sm .icon {
	padding-right: 3px;
	font-size: 1.33em;
}

.button-icon.button-sm.button-icon-right .icon {
	padding: 0 0 0 3px;
}

.btn-primary {
	border-radius: 3px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	letter-spacing: .05em;
	text-transform: uppercase;
	transition: .33s;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
	color: #fff;
	background: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	color: #fff;
	background: #000;
	border-color: #000;
}

.button-group {
	display: flex;
}

.button-group .button {
	margin: 0;
	flex-grow: 1;
}

.button-group .button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.button-group .button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button-video {
	position: relative;
	display: block;
	border-radius: 50%;
	transition: .33s;
	color: #495057;
}

.button-video::before, .button-video:after {
	display: block;
	content: '\f4fc';
	font-family: 'Material Design Icons';
	font-size: 64px;
	line-height: 1;
	border-radius: 50%;
}

.button-video::before {
	z-index: -1;
	pointer-events: none;
}

.button-video::after {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	opacity: 0;
	transform: translate3d(0, -50%, 0);
	transition: opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

.button-video:hover {
	color: #007bff;
}

.button-video:hover::before {
	opacity: 0;
	transition: transform 0.9s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1);
	transform: scale3d(1.5, 1.5, 1.5);
}

.button-video:hover::after {
	opacity: 1;
}

.button-video-lg::before, .button-video-lg:after {
	font-size: 90px;
}

.context-dark .button-video, .bg-gray-700 .button-video, .bg-gray-800 .button-video, .bg-primary .button-video, .bg-primary-darker .button-video {
	color: #fff;
}

@media (max-width: 992px) {
	header .bracon p {
	padding-left: 50px;
	font-size: 30px;
	}
	header .container .bracon .house {
		font-size: 30px;
		font-weight: 800;
		top: -8px;
		position: relative;
		left: -7px;
	}
	header .container .bracon .menu {
		display: none;
	}
	header .container .bracon .button {
		
		padding: 9px 2px;
		font-size: 11px;
		line-height: 1.25;
		border: 1px solid #dcdde0;
		border-radius: 6px;
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
		cursor: pointer;
		vertical-align: middle;
		user-select: none;
		transition: 0.25s cubic-bezier(0.2, 1, 0.3, 1);
	}
	* + .button, * + .button-outer {
		margin-top: -25px;
	}
  }






/* End Header */
/* Start Landing */


.mm{
	margin-bottom: 100px;
    
}
  


.slider-container{
    background-position: 50% 50%;
    justify-content: flex-start;

}
.slider-container .landing{
 display: none;
 z-index: 1;
min-height: 100vh;
padding-top: 16rem;
position: relative;
top: 120px;
opacity: 0;
transition: opacity 0.5s;
   
}
.slider-container .landing.active{
	display: block;
	opacity: 1;
}
.slider-container .landing .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.423);
  }
@media (max-width: 990px){
	.slider-container .landing {
	  top: 100px;
  }
	}

.slider-controls .indicators{
   position: relative;
top: -40px;
}
.slider-controls .indicators ul{
list-style: none;
margin: 0;
text-align: center;
}
.slider-controls .indicators ul li{
 color: #ffffff;
 font-weight: bold;
 height: 28px;
 font-size: 20px;
 width: 28px;
 border-radius: 50px;
 margin:15px;
 line-height: 28px;
 cursor: pointer;
 z-index: 10000;
 padding: 0;

}
.slider-controls .indicators ul li.active{

	background-color: rgba(4, 9, 40, 0.674);
} 
.landing h1 {
	position: relative;
    padding-left: 200px;
	top: -100px;
    text-align: left;
	font-size: 40px;
line-height: 40px;
    color: #fff !important;
white-space: 20px;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
.landing h1::before {
    content: '';
    position: absolute;
    left: 120px;
    top: 15px;
    width: 70px;
    border-bottom: 2px solid;
}
.landing span {
	position: relative;
    padding-left: 120px;
	top: -100px;
    text-align: left;
	font-size: 60px;
line-height: 40px;
    color: #fff !important;
white-space: 20px;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
.landing p {
	position: relative;
	padding-left: 120px;
	top: -60px;
    text-align: left;
	font-size: 13px;
    color: #ffffffdd !important;
}
.landing a {
	position: relative;
	left: 120px;
top: -30px;
}
@media (max-width: 900px) {
	.landing{
		text-align: center;
	}
	.landing h1 {
		padding-left: 20px;
		top: -100px;
		font-size: 30px;
	}
	.landing h1::before {
		content: '';
		position: absolute;
		left: 10px;
		top: -5px;
		width: 30px;
		border-bottom: 1px solid;
}
.landing span {
    padding-left: 20px;
	font-size: 34px;
}
.landing p {
	padding-left: 20px;
font-size: 10px;
}
.landing a {
	left: 0px;

}
.slider-controls .indicators {
    position: relative;
    top: -74px;
}
  }

/* start pop */
.pop{
	text-align: center;
	padding-bottom: 100px;
}
.pop h1 {
	font-size: 40px;
	font-weight: 900;
	padding-bottom: 20px;
}

.pop .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
gap: 20px;

}
.pop .container .box img {
height: 300px;
width: 550px;
	}
.pop .container .box h2 {
	margin: 5px;
		font-size: 20px;
		font-weight: 100;
		color: #000000;
		left: 0;
}
.pop .container .box .dfg {
	display: flex;
	justify-content: center;
}
.pop .container .box .dfg p {
	margin: 10px 40px;
	font-size: 20px;
	color: #495057;
}		
.pop .container .box .dfg p:first-child {
color: #007bff;
font-weight: bold;
}
.pop .container .box p{
	color: #777777c4;
	padding: 5px 0;
	font-size: 16px;
	white-space: 10px ;
	font-weight: 100;
}
.pop a{
top: 30px;
}
@media (max-width: 768px) {
	.pop .container .box img {
		height: 300px;
		width: 300px;
  }
}


/* Start Services */
.main-heading {
	text-align: center;
  }
  .main-heading h2 {
	font-weight: normal;
	font-size: 40px;
	position: relative;
	margin-bottom: 20px;
	text-transform: uppercase;
  }
 
  .main-heading p {
	width: 550px;
	margin: 0 auto 100px;
	max-width: 100%;
	line-height: 2;
	color: #777;
  }
.services {
	padding-top: 50px;
	padding-bottom: 100px;
  }
  @media (min-width: 768px) {
	.services .services-container {
	  display: grid;
	  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	  grid-column-gap: 40px;
	  grid-row-gap: 60px;
	}
  }
  .services .srv-box {
	display: flex;
  }
  .services .srv-box i {
	margin-right: 50px;
  }
  @media (max-width: 767px) {
	.services .srv-box {
	  display: flex;
	  flex-direction: column;
	  text-align: center;
	  margin-bottom: 40px;
	}
	.services .srv-box i {
	  margin: 0 0 30px;
	}
  }
  .services .srv-box h3 {
	margin-bottom: 30px;
	color:#0594EC;
  }
  .services .srv-box p {
	line-height: 2;
	color: #777;
  }
  /* End Services */















